@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .word {
    display: block;
  }

  .word span {
    @apply text-indigo-700 dark:text-violet-300 relative;
  }

  .word span::after {
    content: "";
    width: 8px;
    height: 100%;
    background: rgb(67 56 202 / var(--tw-text-opacity));
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    animation: blink 0.5s ease infinite alternate-reverse;
  }

  @keyframes blink {
    from {
      opacity: 100%;
    }

    to {
      opacity: 0%;
    }
  }

  .word.empty {
    visibility: hidden;
  }

  .word.empty span::after {
    visibility: visible;
    right: 0;
  }
}

body {
  background-color: black;
  font-family: sans-serif;
  color: #354358;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #00f260, #0575e6);
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
